    {% load static %}
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
        <div class="container">
            <a class="navbar-brand" href="{% url 'store:index' %}">
                <img src="{% static 'img/logo3.png' %}" style="width: 60px;">
            </a>
            <a class="navbar-brand text-wrap" href="{% url 'store:index' %}">Cabin-Coffee</a>

            <div class="d-lg-none ms-auto">
                <button data-bs-toggle="collapse" class="navbar-toggler custom-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'products:product-list' %}">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'store:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link font-cream" href="{% url 'store:about' %}"><img src="{% static 'img/cart.svg' %}"></a></li>
                </ul>
            </div>
        </div>
    </nav>